/* This devicetree overlay file must be added when building for
 * a Xiao board hooked to a Round display add-on.
 */

/ {
    chosen {
        zephyr,display = &gc9a01;
    };

    vbatt {
        compatible = "voltage-divider";
        io-channels = <&adc 0>;
        output-ohms = <470000>;
        full-ohms = <940000>;
    };

    lvgl_pointer {
        compatible = "zephyr,lvgl-pointer-input";
        input = <&chsc6x>;
    };

    aliases {
        rtc = &pcf8563;
    };
};

&uart0 {
    status = "disabled";
};

&i2c1 {
    clock-frequency = < I2C_BITRATE_FAST >;

    pcf8563: pcf8563@51 {
        status = "okay";
        compatible = "nxp,pcf8563";
        reg = <0x51 >; // In some Arduino libraries found over the internet, the adress is 0x51 and not 0xa2 as found in the datasheet...
    };

    chsc6x: chsc6x@2e {
        status = "okay";
        compatible = "seeedrounddisplay,chsc6x";
        reg = < 0x2e >;
        irq-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
    };
};

&spi2 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi2_default>; // D13 D14 D15
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>, <&gpio0 28 GPIO_ACTIVE_LOW>;    // D1, D2

    gc9a01: gc9a01@0 {
        compatible = "seeedrounddisplay,gc9a01";
        status = "okay";
        spi-max-frequency = <30000000>;
        reg = <0>; // This will use the first CS pin in the cs-gpios list.
        width = <240>;
        height = <240>;
        bl-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; // D6
        reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>; // Not routed on display, but required by driver
        dc-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>; // D3
        rotation = <270>;
    };

    /* TODO: add SD device : https://docs.zephyrproject.org/latest/services/storage/disk/access.html#sd-card-support-via-spi */
    sdhc0: sdhc@1 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <1>; // This will use the second CS pin in the cs-gpios list.
        status = "okay";
        mmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
        };
        spi-max-frequency = <24000000>;
    };
};

