/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the xiao_ble_sense board.
 */

/ {
    chosen {
        zephyr,display = &gc9a01;
    };
};

&i2c1 {
    clock-frequency = < I2C_BITRATE_FAST >;

    pcf8563: pcf8563@a2 {
        compatible = "nxp,pcf8563";
        reg = <0xa2 >;
    };

    /* TODO: add touch screen CHSC6X device */
};

&spi2 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi2_default>; // D13 D14 D15
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;    // D1

    gc9a01: gc9a01@0 {
        compatible = "seeedrounddisplay,gc9a01";
        status = "okay";
        spi-max-frequency = <30000000>;
        reg = <0>;
        width = <240>;
        height = <240>;
        bl-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; // D6
        reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>; // Not routed on display, but required by driver
        dc-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>; // D3
    };
};

